<div class="row m-4  mx-auto" style="width: 80%">
  <div class="card  col-lg-3" *ngFor="let picture of pictures">
    <img
      src="http://localhost:8000/{{ picture.image }}"
      class="mx-auto mt-4"
      alt="images"
      style="width: 80%"
    />
    <hr />
    <div class="card-body text-center">
      <p>Taken with a {{ picture.camera }}</p>
      <p class="card-text">{{ picture.description }}</p>
      <a (click)="addToFav(picture._id)"><i class="fa fa-heart"></i> </a>
    </div>
  </div>
</div>
