<div class="container">
  <h1>Users</h1>

  <table *ngIf="users" class="table table-striped">
    <thead>
      <tr class="text-center">
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Admin</th>
        <th scope="col">Banned</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" class="text-center">
        <td>
          <a
            class="btn btn-info btn-lg username"
            (click)="singleUser(user._id)"
            >{{ user.username }}</a
          >
        </td>
        <td>{{ user.email }}</td>
        <td>
          <a class="btn btn-info btn-lg" (click)="userAdmin(user)">{{
            user.isAdmin
          }}</a>
        </td>
        <td>
          <a class="btn btn-warning btn-lg" (click)="userBanned(user)">{{
            user.isBanned
          }}</a>
        </td>
        <td>
          <button (click)="deleteUser(user._id)" class="btn btn-danger btn-lg">
            Delete User
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
