<div class="container">
  <h1>Users</h1>

  <table *ngIf="users" class="table table-striped">
    <thead>
      <tr class="text-center">
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Admin</th>
        <th scope="col">Banned</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index" class="text-center">
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
          <a class="btn btn-info btn-sm" (click)="userAdmin(user)">{{
            user.isAdmin
          }}</a>
        </td>
        <td>
          <a class="btn btn-warning btn-sm" (click)="userBanned(user)">{{
            user.isBanned
          }}</a>
        </td>
        <td>
          <button (click)="deleteUser(user._id)" class="btn btn-danger btn-sm">
            Delete User
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
