<div class="containeur m-4">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Picture</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="users">
        <td>{{ users.picture }}</td>
        <td>{{ users.username }}</td>
        <td>{{ users.email }}</td>
        <td>
          <button routerLink="/user/update" class="btn btn-primary btn-sm">
            Update Account
          </button>
        </td>
        <td>
          <button
            (click)="deleteAccount(users._id)"
            class="btn btn-danger btn-sm"
          >
            Delete Account
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <br />

  <textarea
    *ngIf="users"
    class="form-control"
    name="description"
    id="description"
    cols="5"
  >
      {{ users.description }}</textarea
  >
</div>
