<div class="containeur m-4 mx-auto" style="width: 80%">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Profil picture</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Followers</th>
        <th scope="col">Following</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="users">
        <td><img src="http://localhost:8000/{{ users.picture }}" alt="" /></td>
        <td>{{ users.username }}</td>
        <td>{{ users.email }}</td>

        <ng-container *ngIf="users.followers; else elseBlock">
          <td>{{ users.followers.length }}</td>
        </ng-container>
        <ng-template #elseBlock> <td>0</td> </ng-template>

        <ng-container *ngIf="users.following; else elseBlock">
          <td>{{ users.following.length }}</td>
        </ng-container>
        <ng-template #elseBlock> <td>0</td> </ng-template>

        <td>
          <button routerLink="/user/update" class="btn btn-primary btn-sm">
            Update Account
          </button>
        </td>
        <td>
          <button
            (click)="deleteAccount(users._id)"
            class="btn btn-danger btn-sm"
          >
            Delete Account
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <br />

  <textarea
    *ngIf="users"
    placeholder="Description"
    class="form-control"
    name="description"
    id="description"
    cols="5"
  >
      {{ users.description }}</textarea
  >
  <br />
  <h2 class="text-center">
    <i class="far fa-images"></i> {{ users.username }}'s Albums:
  </h2>
  <br />
  <div class="row m-4  mx-auto" style="width: 80%">
    <div class="card  col-lg-3 text-center" *ngFor="let album of albums">
      <br />
      <i class="far fa-images"></i>
      {{ album.name }}

      <hr />
      <div class="card-body text-center"></div>
    </div>
  </div>
</div>
