<div class="container">
  <form
    #signUpForm="ngForm"
    (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)"
  >
    <input
      type="text"
      #username="ngModel"
      [(ngModel)]="userService.selectedUser.username"
      name="username"
      placeholder="Username"
      required
      class="form-control m-4"
    />
    <div *ngIf="signUpForm.submitted && !username.valid">
      <label class="validation-message">This field is required.</label>
    </div>
    <input
      type="email"
      #email="ngModel"
      [(ngModel)]="userService.selectedUser.email"
      name="email"
      placeholder="email"
      required
      class="form-control m-4"
    />
    <div *ngIf="signUpForm.submitted && !email.valid">
      <label class="validation-message">This field is required.</label>
    </div>
    <input
      type="password"
      #password="ngModel"
      [(ngModel)]="userService.selectedUser.password"
      name="password"
      placeholder="password"
      required
      class="form-control m-4"
    />
    <div *ngIf="signUpForm.submitted && !password.valid">
      <label class="validation-message">This field is required.</label>
    </div>
    <input
      type="password"
      #confirm_password="ngModel"
      [(ngModel)]="userService.selectedUser.confirm_password"
      name="confirm_password"
      placeholder="confirm_password"
      required
      class="form-control m-4"
    />
    <div *ngIf="signUpForm.submitted && !confirm_password.valid">
      <label class="validation-message">This field is required.</label>
    </div>
    <div class="text-center">
      <input type="submit" value="Sign Up" class="btn btn-success " />
    </div>
  </form>

  <!-- Success message -->
  <div class="success" *ngIf="showSuccessMessage">Saved successfully</div>

  <!-- Error message -->
  <div class="alert" *ngIf="serverErrorMessages">{{ serverErrorMessages }}</div>
</div>
