<div *ngIf="picture" class="text-center m-4  mx-auto">
  <img
    src="http://localhost:8000/{{ picture.image }}"
    class="mx-auto mt-4"
    alt="images"
    width="30%"
  />
  <hr />
  <div class="card-body text-center">
    <p>Taken with a {{ picture.camera }}</p>
    <p class="card-text">{{ picture.description }}</p>

    <ng-container *ngIf="!liked; else elseBlock">
      <a (click)="like()">
        <i class="fa fa-heart"></i>
        <div>{{ picture.likes.length }}</div>
      </a>
    </ng-container>

    <ng-template #elseBlock>
      <a (click)="unlike()">
        <i class="fa fa-heart" style="color:red"></i>
        <div>{{ picture.likes.length }}</div>
      </a>
    </ng-template>
  </div>
</div>
